<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Appenders>
        <File name="File" fileName="C:\University\epam-tasks\final-project\src\main\resources\app.log" append="true">
            <PatternLayout>
                <Pattern>%date{dd.MM.yyyy, HH:mm.ss} %5level [%thread] %class.%method():%line%n%msg%n%exception%n
                </Pattern>
            </PatternLayout>
        </File>
        <Console name="Cons" target="SYSTEM_ERR">
            <PatternLayout>
                <Pattern>%date{dd.MM.yyyy, HH:mm.ss} %5level [%thread] %class.%method():%line%n%msg%n%exception%n
                </Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="File"/>
           <!-- <AppenderRef ref="Cons"/>-->
        </Root>
    </Loggers>
</Configuration>